BackEnd/config.py
assets/
**/__pycache__/
**/migrations/
index/static/*
!index/static/config-classic-studies-1/
!index/static/config-classic-studies-2
!index/static/lib
!index/static/favicon.ico
log/
