<!DOCTYPE html>
<html lang="zh">
  <head>
    <title>课程小游戏</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/user.css?{% versioning %}" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
        <div class="logo"><img src="/assets/logo.png" /></div>

        {% for game, url, has_permission in game_list %}
        {% if has_permission %}
        <a href="{{ url }}" class="game-item-link">
        {% else %}
        <div class="no-perm">
        {% endif %}
        <div class="game-item">{{ game }}</div>
        {% if has_permission %}
        </a>
        {% else %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </body>
</html>
