<!DOCTYPE html>
<html lang="zh">
  <head>
    <title>注册</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/user.css?{% versioning %}" rel="stylesheet" />

    <script>
        history.replaceState(null, null)
    </script>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}

      <div id="wrapper">
        <!-- Logo image -->
        <div class="logo"><img src="/assets/logo.png" /></div>

        <!-- Show error message -->
        {% if tips %}
        <div class="tip">{{ tips }}</div>
        {% endif %}

        <div class="form-item">
          <input
            type="text"
            value="{{ id }}"
            placeholder="学号"
            name="id"
            autocomplete="off"
            required
          />
        </div>

        <div class="form-item">
          <input type="email" value="{{ email }}" placeholder="邮箱" name="email" required />
        </div>

        <div class="form-item">
          <input
            type="password"
            placeholder="密码 (8 - 16位字母和数字的组合)"
            name="password"
            autocomplete="off"
            required
          />
        </div>

        <div class="form-item">
          <input
            type="password"
            placeholder="确认密码"
            name="confirm_password"
            autocomplete="off"
            required
          />
        </div>

        <div class="link"><a href="/login">已有账号？前往登录</a></div>

        <button type="submit" class="submit-button">注册</button>
      </div>
    </form>

    <script>
      document.addEventListener("keyup", (event) => {
        if (event.key == "Enter") {
          document.querySelector(".submit-button").click();
        }
      });
    </script>
  </body>
</html>
